<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign in</title>
</head>
<body>
    <form action="/"method="POST" style="margin-top: 30px; margin-left: 250px;">
        <div class="card col-sm-4 mb-6 m-auto" style="width: 45rem; box-shadow: 0 1px 3px 1px rgba(201, 201, 201, 0.5);">
          <div class="card-body col-sm-4 mb-6 m-auto" style="width: 45rem">
            <h1 style="text-align:center">Register</h1>
            <div class="col-sm-4 mb-6 m-auto" style="width: 20rem">
              <label for="name" class="form-label">First name</label>
              <input type="text" class="form-control" id="name" name="name" placeholder="your first name">
            </div>
            <div class="col-sm-4 mb-6 m-auto" style="width: 20rem">
              <label for="file" class="form-label">Last name</label>
              <input class="form-control" type="text" name="lname" id="pname" placeholder="your last name">
            </div>
            <div class="col-sm-4 mb-6 m-auto" style="width: 20rem">
              <label for="text" class="form-label">message</label>
              <textarea class="form-control" id="text" rows="5" name="message"></textarea>
            </div>
            <br>
            <div class="col-sm-4 mb-6 m-auto" style="width: 20rem ">
              <button type="submit" name="submit" class="btn btn-outline-info">Soumettre</button>
            </div>
          </div>
        </div>
      </form>
</body>
</html>